@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {

    --background-color: rgb(32, 32, 32);
    --font-size: 3rem;
    --font-color: white;
    --line-aproximate: 2rem;
    --cursor-color: rgb(0, 255, 98);
    --cursor-size: 10px;


    --time-to-start: 3s;

    /* First line - Line 0 */
    --line-first-width: 205px;
    --line-first-range: 7;
    --line-first-time: .7s;

    /* Line 1 */
    --line1-width: 205px;
    --line1-range: 7;
    --line1-time: .7s;

    /* Last line */
    --line-last-width: 378px;
    --line-last-range: 13;
    --line-last-time: 1.3s;

    /* Times */
    --cursor-first-delay: calc(var(--line-first-time) + var(--time-to-start) + .2s);

    --line1-delay: calc(var(--cursor-first-delay) + .2s);
    --cursor1-delay: calc(var(--line1-delay) + var(--line1-time) + .2s);

    --line-last-delay: calc(var(--line1-delay) + var(--line1-time) + .2s);
}
/* REMOVE THIS BODY - It's just for demonstration */
body {background: var(--background-color);}
.typing-container {background: var(--background-color);}

.typing-line {
    font-size: var(--font-size);
    color: var(--font-color);
    font-family: 'Source Code Pro', monospace; 
}

.typing-container .typing-line {
    align-self: flex-start;
    max-width: 30rem;
    margin-bottom: calc(-1*var(--line-aproximate));
    white-space: nowrap;
    overflow: hidden;  
    border-right: solid var(--cursor-size) transparent;   
}

.typing-container .typing-line:nth-child(1) {
    border-right: solid var(--cursor-size) var(--cursor-color);
}


.typing-container .typing-line:nth-child(1) {
    animation: animated-text1 var(--line-first-time) steps(var(--line-first-range),end) var(--time-to-start) 1 normal both,
    animated-cursor1 .6s steps(12,end) infinite,
    cursor-disabled .1s linear var(--cursor-first-delay) forwards;
}

.typing-container h2:nth-child(2) {
    animation: animated-text2 var(--line1-time) steps(var(--line1-range),end) var(--line1-delay) 1 normal both,
    animated-cursor .6s steps(12,end) var(--line1-delay) infinite,
    cursor-disabled .1s linear var(--cursor1-delay) forwards;
}

.typing-container h2:nth-child(3) {
    animation: animated-text3 var(--line-last-time) steps(var(--line-last-range),end) var(--line-last-delay) 1 normal both,
    animated-cursor .6s steps(12,end) var(--line-last-delay) infinite;
}

@keyframes animated-text1
{
    from{
        width: 0;
    }
    to{
        width: var(--line-first-width);
    }
}
@keyframes animated-text2
{
    from{
        width: 0;
    }
    to{
        width: var(--line1-width);
    }
}
@keyframes animated-text3
{
    from{
        width: 0;
    }
    to{
        width: var(--line-last-width);
    }
}
@keyframes animated-cursor
{
    from{
        border-right-color: transparent;
    }
    to{
        border-right-color: var(--cursor-color);
    }
}
@keyframes animated-cursor1
{
    from{
        border-right-color: var(--cursor-color)
    }
    to{
        border-right-color: transparent;
    }
}
@keyframes cursor-disabled
{
    to{
        border-right-color: transparent;
    }
}